<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> About the robot </h1>
    <p> The Personal Twitter robot is developed version 0.1.</p>
    <p> This robot can tweet from the websites like TechCrunch, TechRadar, Wired and Roboics.org.
        This twitter can retweet about specific tags and it can like and follow the users of the posts to be retweeted.
    </p>
    {% endblock %}
  </body>
</html>